#stats-container {
   width: 100%;
   color: var(--b-color);
   background-color: #ddd;
   border-radius: 0 0 10px 10px;
}

#stats-container > h3 {
   text-align: center;
   font-size: .9rem;
}

#stats {
   display: flex;
   font-size: .7rem;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.task-value {
   font-weight: 700;
}