* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --a-color: #bfbfbf;
   --b-color: #808080;
   --c-color: #404040;
   --d-color: #e6e6e6;

   --main-color: var(--b-color);
   --containers-bgc: var(--a-color);
   --list-items-bgc: var(--d-color);
}

html {
   font: 20px 'Roboto', arial, sans-serif;
}

body {
   background-color: white;
   color: var(--main-color);
   height: 100vh;
   margin: 0;
   position: relative;
}

body.non-scroll {
   overflow: hidden;
}

#page-title {
   text-align: center;
   height: 85.3px;
   padding-top: 10px;
}

#page-title > h1 {
   text-transform: uppercase;
   font-weight: 400;
}

#page-title > p {
   font-weight: 100;
   font-size: .9rem;
}

#add-new-work-container {
   width: 93%;
   height: 45px;
   max-width: 700px;
   margin: auto;
   margin-top: 10px;
}

#add-new-work-btn {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   border: none;
   background-color: rgb(47, 129, 44);
   color: white;
   font: inherit;
}

#add-new-work-btn:hover {
   background-color: rgb(30, 112, 27);
}

#add-new-work-btn:active {
   background-color: rgb(13, 95, 10);
   border: none;
}

#new-work-container {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--c-color);
   margin: 0;
   padding: 0;
   z-index: -9999;
   visibility: hidden;
   opacity: .8;
}

#new-work-container.visible {
   visibility: visible;
   z-index: 9999;
}

#main-container {
   width: 100%;
   height: 800px;
   display: flex;
   align-items: baseline;
   justify-content: center;
   padding-top: 5px;
}

.works-container {
   border: 1px solid #999;
   border-radius: 10px;
   flex-basis: 93%;
   max-width: 700px;
   margin: 10px;
   background-color: var(--containers-bgc);
}

.works-header {
   height: 7vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 10px 10px 0 0;
}

.works-header > h2 {
   font-weight: 400;
}

.works-list {
   width: 100%;
   border-radius: 0 0 10px 10px;
   min-height: 40%;
   padding-bottom: 5px;
}

/* @media (min-width: 1440px) {
   .works-list {
      max-height: 70vh;
      overflow: auto;
   }
} */

.works-list > ul {
   list-style-type: none;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.works-list > ul > li {
   border-radius: 10px;
   padding: 10px;
   margin-top: 5px;
   width: 99%;
   background-color: var(--list-items-bgc);
}

.work-name {
   font-weight: 400;
   font-size: 1rem;
   padding-bottom: 5px;
}

.work-info {
   display: flex;
   justify-content: space-evenly;
   font-size: .6rem;
   cursor: default;
}

.spec-info {
   position: relative;
}

.spec-info::after {
   display: none;
   position: absolute;
   text-align: center;
   background-color: var(--b-color);
   color: white;
   border: 1px solid #999;
   border-radius: 5px;
}

@media(hover: hover) {
   .spec-info:hover::after {
      display: block;
   }
}

.added-info::after {
   content: "Task added date";
   width: 150%;
}

.deadline-info::after {
   content: "Deadline";
   width: 100%;
}

.priority-info::after {
   content: "Priority";
   width: 250%;
}

#add-work-btn {
   position: fixed;
   bottom: 10px;
   right: 10px;
   width: 50px;
   height: 50px;
   background-color: #777;
   color: white;
   /* opacity: .7; */
   border-radius: 50%;
   border: none;
   font-size: 40px;
}