#main-container {
   width: 100%;
   height: min-content;
   display: flex;
   align-items: baseline;
   justify-content: center;
   padding-top: 5px;
}

.works-container {
   border: 1px solid #999;
   border-radius: 10px;
   flex-basis: 93%;
   max-width: 700px;
   margin: 10px;
   background-color: var(--containers-bgc);
}

.works-header {
   height: 7vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 10px 10px 0 0;
   position: relative;
}

.works-header > h2 {
   font-weight: 400;
}

#sorting-btns {
   height: 100%;
   width: 15%;
   position: absolute;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.sort-icon {
   transition: .3s;
}

.sort-container {
   position: absolute;
   right: 0;
   top: 100%;
   width: 200px;
   border: 1px solid black;
   flex-direction: column;
   background-color: inherit;
   display: flex;
   transform: scaleY(0);
   transform-origin: top;
   transition: .3s;
   border-radius: 5px;
   z-index: 9999;
}

.sort-container.visible {
   transform: scaleY(1);
}

.sort-container > label {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}



.sort-type {
   visibility: hidden;
}

/* .sort-type:checked {
   visibility: visible;
}
 */

 .sort-type::after {
   content: '';
   visibility: visible;
   color: var(--b-color);
 }

.sort-type:checked::after {
   content: "\2714";
   
}

.works-list {
   width: 100%;
   border-radius: 0 0 10px 10px;
   min-height: 40%;
   padding-bottom: 5px;
}

/* @media (min-width: 1440px) {
   .works-list {
      max-height: 70vh;
      overflow: auto;
   }
} */

.works-list > ul {
   list-style-type: none;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.works-list > ul > li {
   border-radius: 10px;
   padding: 10px;
   margin-top: 5px;
   width: 99%;
   background-color: var(--list-items-bgc);
}

.works-list > ul > li.phone-touch {
   background-color: #d5d5d5;
}

.work-name {
   font-weight: 400;
   font-size: 1rem;
   padding-bottom: 5px;
}

.work-info {
   display: flex;
   justify-content: space-evenly;
   font-size: .6rem;
   cursor: default;
}

.spec-info {
   position: relative;
}

.spec-info::after {
   display: none;
   position: absolute;
   text-align: center;
   background-color: var(--b-color);
   color: white;
   border: 1px solid #999;
   border-radius: 5px;
}

.added-info::after {
   content: "Task added date";
   width: 150%;
}

.deadline-info::after {
   content: "Deadline";
   width: 100%;
}

.time-info::after {
   content: "Expected duration";
   width: 180%;
}

.priority-info::after {
   content: "Priority";
   width: 250%;
}

#work-context-menu {
   position: absolute;
   top: 10%;
   left: 10%;
   font-size: .6rem;
   background-color: white;
   width: 100px;
   height: 40px;
   border: 1px solid black;
   display: none;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

#work-context-menu.visible {
   display: flex;
}

#work-context-menu > p {
   width: 100%;
   flex-basis: 50%;
   line-height: 19px;
}

#work-context-menu i {
   box-sizing: content-box;
   width: 20%;
   padding-left: 5px;
}

#work-context-menu .fa-pen-to-square {
   color: #dfca0f;
}

#work-context-menu .fa-trash {
   color: rgb(187, 17, 17);
}

/*hovers*/
@media(hover: hover) {
   .sort-icon:hover {
      transform: scale(1.2);
   }

   .spec-info:hover::after {
      display: block;
   }

   .sort-container > label:hover {
      background-color: var(--a-color);
   }

   #work-context-menu > p:hover {
      background-color: #eee;
   }
}